@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilizando font local, para garantir que funcione mesmo em modo offline (ex.: PWA) */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/plus-jakarta-sans-v8-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2');
}

/* merriweather */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/merriweather-v30-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/merriweather-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/merriweather-v30-latin-700italic.woff2') format('woff2');
}

/* work-sans-regular */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work-sans-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/work-sans-v19-latin-600.woff2') format('woff2');
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: #ffc344 #f0f0f0;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  --white: 255, 255, 255;
  --black: 43, 44, 52;
  --light_gray_1: 239, 240, 243;
  --light_gray_2: 228, 229, 233;
  --gray: 192, 192, 192;
  --dark_gray: 154, 154, 154;
  --yellow: 255, 195, 68;
  --yellow_hover: 255, 174, 3;
  --disabled_border: 234, 234, 236;
  --disabled_background: 241, 242, 243;
  --disabled_text: 176, 176, 176;
}

body {
  font-family: 'Plus Jakarta Sans', 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}
